<!-- The following doctype doesn't work when offline, so default to old one, which does work.
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.yfkey.model.Permission" />
		<mapping class="com.yfkey.model.User" />
		<mapping class="com.yfkey.model.UserRole" />
		<mapping class="com.yfkey.model.UserAuthority" />
		<mapping class="com.yfkey.model.UserPermission" />
		<mapping class="com.yfkey.model.Role" />
		<mapping class="com.yfkey.model.RolePermission" />
		<mapping class="com.yfkey.model.Menu" />
		<mapping class="com.yfkey.model.Item" />
		<mapping class="com.yfkey.model.Supply" />
		<mapping class="com.yfkey.model.Shipto" />
		<mapping class="com.yfkey.model.UserPasswordLog" />
    </session-factory>
</hibernate-configuration>
